
/* elements */


/* id # */

/* class .*/
.carousel-center {
    margin: auto;
    width: 50%;
    /* border: 3px solid gree; */
  }

.carousel-size{
   width:317px;
   height:276px;
 }

.donate-resize{
  padding: 4%;
}

.social-media-resize{
  padding: 2%;
}

.social-media-icon{
  width: 50px;
  margin: .5%;
}
